body {
    background-color: aqua;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#image {
    display: flex;
    justify-content: center;
}

ul {
    list-style-position: inside;
}
